@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body text-gray-600 bg-brand-gray;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-heading uppercase tracking-tighter font-bold text-brand-dark;
    }
}

@layer components {
    .no-spinner {
        @apply [-moz-appearance:_textfield];
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }
}

[x-cloak] {
    display: none;
}

@layer utilities {
    .animation-delay-300 {
        animation-delay: 300ms;
    }

    .animation-delay-500 {
        animation-delay: 500ms;
    }

    .animation-delay-700 {
        animation-delay: 700ms;
    }
}